.App {
  text-align: center;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --primary-color: #007aff;
  --secondary-color: #7f56d9;
  --white-color: white;
  --tertiary-color : #ebedfe;

  /* Border Radius */
  --small-radius:  3px;
  --medium-radius:  6px;
  --large-radius:  12px;
  --extra-large-radius:  24px;
  --round-radius:  99px;

}
